body {
    font-family: Helvetica;
    font-weight: bold;
}

p {
    font-weight: normal;
}

.item-info {
    color: blue;
    font-weight: bold;
}

h1 {
    font-size: 100px;
    color: khaki;
    text-align: center;
    background: url(./images/pattern.jpg);
}

h2 {
    font-size: 32px;
    color: white;
}

#brushes h2 {
    background-color: mediumspringgreen;
}

#frames h2 {
    background-color: lightcoral;
}

#paint h2 {
    background-color: skyblue;
}
